// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

$theme-colors: (
  "primary": #505050,
);

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here

.nav-item {
  a:hover {
    text-decoration: underline;
  }
}

.jumbotron {
  background-image: url(../media/pirate-ship.jpg);
  background-repeat: no-repeat right top;
  background-size: cover;
  background-position: 0% 25%;
  color: white;
  text-align: center;
}

body {
  font-family: 'Times New Roman', 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Germania One', cursive, 'Times New Roman', Times, serif;
}

footer { 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  background: rgb(196, 196, 196);
}

.lead {
  font-family: 'Shadows Into Light', cursive, 'Times New Roman', Times, serif;
}

.byline {
  font-size: .95rem; 
  font-weight: bold;
  margin-bottom: 0px;
}

.source{
  font-size: .75rem;
  font-style: italic;
}

h2 {
  margin-top: 5px;
}

